.upgrade-heading{padding-left: 11px; font-size: 23px;}

.upgrade-setting{font-size: 23px;}

.grn-btn{  background: none repeat scroll 0 0 #6cab3d !important;
    border: medium none #6cab3d !important;}
	
.grn-btn:hover{ background:#5a8f32 !important;}